#recipesContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    position: relative;
}

.recipeImage{
    width: 250px;
    border-radius: 25px;
}

.recipeItem {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.recipeItem p {
    color:#776871;
    width: 250px;
    height: 72px;
}

.addPlanning {
    background-color: #91a8a4;
}

.addPlanning:hover {
    background-color: #7c928e;
    border: none;
}

.addPlanning:focus {
    border: none;
}